/**
 * PU intranet favorites CSS.
 */

#favorites_admin ol {
    min-height: 20px;
}

li.favorite, li.favoritesfolder {
    min-height: 30px;
}

li.favoritesfolder header {
    background-color: #f0f0f0;
    height: 40px;
    padding-left: 20px;
}

li.favoritesfolder header h3 {
    float: left;
    margin-top: 0px;
}

li.favorite {
    border: 1px solid #c0c0c0;
    border-radius: 4px; 
}

li.favorite form, li.favoritesfolder form {
    display: none;
    float: left;
}

li.favorite.edit form.favorite_edit {
    display: block;
}

li.favoritesfolder.edit form.favoritesfolder_edit {
    display: block;
}

li.edit .title {
    display: none !important;
}

#favorites {
    padding: 10px;
}

#favorites, #favorites ul, #favorites_admin, #favorites_admin ol {
    list-style: none;
}

#favorites_admin li {
    width: 100%;
}

li .favorite-actions, li .favoritesfolder-actions {
    float: right;
    display: none;
}

li.favorite:hover .favorite-actions {
    display: block;
}

li.edit.favorite:hover .favorite-actions {
    display: none;
}

li.favoritesfolder header:hover .favoritesfolder-actions {
    display: block;
}

li.edit.favoritesfolder header:hover .favoritesfolder-actions {
    display: none;
}

#favorites li, #favorites_admin li {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-sortable li {
    cursor: move;
}

.placeholder {
  margin-bottom: 20px;
  border: 1px dashed #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; 
}
