/**
 * PU intranet favorites CSS.
 */

#add_favoritesfolder {
    margin-bottom: 20px;
}

.favoritesfolder {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.favoritesfolder header {
    background-color: #f0f0f0;
    padding-left: 20px;
    position: relative;
    cursor: move;
}

.favoritesfolder header .toggle {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.favoritesfolder header .toggle.collapse {
    display: none;
}

.favoritesfolder.expanded header .toggle.collapse {
    display: table;
}

.favoritesfolder.expanded header .toggle.expand {
    display: none;
}

li.favorite {
    position: relative;
    height: 30px;
    border: 1px solid #c0c0c0;
}

.editable form {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 1000;
}

.editable.edit form {
    display: block;
}

li.edit .title {
    display: none !important;
}

#favorites {
    padding: 10px;
}

#favorites, #favorites ul, #favorites_admin ol {
    list-style: none;
}

#favorites_admin ol {
    min-height: 30px;
    display: none;
}

li.favorite .actions, .favoritesfolder .actions {
    list-style: none;
    display: none;
    position: absolute;
    right: 50px;
    top: 10px;
}

#favorites_admin .actions li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

li.favorite:hover .actions {
    display: block;
}

.edit .actions {
    display: none !important;
}

.favoritesfolder header:hover .actions {
    display: block;
}

.ui-sortable li {
    cursor: move;
}

.placeholder {
  margin-bottom: 20px;
  border: 1px dashed #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; 
}
