{% extends "layout-8x4.html" %}

{% block extra_js %}
<!-- pu_in_favorites JS -->
<script src="{{STATIC_URL}}js/pu_in_favorites.js"></script>
{% endblock %}

{% block left-pane %}

<h1>Favorites administration for {{ object }}</h1>

<div class="btn-group">
  <a href="javascript: pu_in.favorites.show_add_folder()" 
     class="btn">Add folder</a>
</div>

<div id="pu_in_favorites_add_folder_form" style="display: none">
  <form action="javascript: pu_in.favorites.add_folder()">
    <label>Title</label>
    <input name="title" type="text" /> 
    {% csrf_token %}
  </form>
</div>

<ul>
  {% for folder in object.favoritesfolder_set.all %}
  <li class="relationrow" style="clear: both;">
    <span class="label">{{ folder.title }}</span>

    <ul>
      {% for favorite in folder.favorite_set.all %}
      <li>{{ favorite.title }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
