{% extends "layout-8x4.html" %}

{% load pu_in_favorites_tags %}

{% block body_class %}
{% endblock %}

{% block left-pane %}

<h1>Favorites administration for {{ object }}</h1>

<div class="btn-group">
  {% if object.favoritesfolder_set.all.count < 8 %}
  <a href="javascript: pu_in.favorites.show_add_folder()" 
     class="btn" id="add_favoritesfolder">Add folder</a>
  {% endif %}
</div>

<div id="pu_in_favorites_add_folder_form" style="display: none">
  <form action="javascript: pu_in.favorites.add_folder()">
    <label>Title</label>
    <input name="_title" type="text" /> 
    <input name="profile" type="hidden" value="{{ request.user.get_profile.id }}" />
    <button class="btn">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>

<div id="favorites_admin" class="sortable">
  {% for folder in object.favoritesfolder_set.all %}
  {% favoritesfolder folder %}
  {% endfor %}
</div>

{% endblock %}
