{% load pu_in_favorites_tags %}

<li class="content_item"
    id="favoritesfolder_{{ object.id }}"
  >
  <div class="pu_in_favorites_edit_folder_form"
       id="pu_in_favorites_edit_folder_{{ object.id }}"
       >
    
    <form target="#favoritesfolder_{{ object.id }}" 
       action="{% url pu_in_favorites_edit_favoritesfolder_json object.id %}">
      <input name="_title" type="text" value="{{ object.title }}" /> 
      <input name="profile" type="hidden" value="{{ object.profile.id }}" /> 
      <input name="id" type="hidden" value="{{ object.id}}"/> 
      <div class="btn-group">
        <button type="submit" class="btn btn-mini"
                name="submit" value="submit"
                >
          <i class="icon-save"></i>Save
        </button>
        <button class="btn btn-mini cancel">
          <i class="icon-remove"></i>Cancel
        </button>        
      </div>
    </form>
    
  </div>
  <span class="favoritesfolder_title">{{ object.title }}</span>
  <div class="btn-group">
    <a class="btn btn-mini json-rm"
       href="{% url pu_in_favorites_delete_favoritesfolder_json object.id %}"
       >
      <i class="icon-trash"></i>Verwijderen
    </a>
    <a class="btn btn-mini json-edit" 
       href="javascript: pu_in.favorites.show_edit_folder_form('{{ object.title }}', '{{ object.id }}')"
       >
      <i class="icon-edit"></i>Bewerken
    </a>
  </div>
  <ul>
    {% for favorite in object.favorite_set.all %}
    {% favorite favorite %}
    {% endfor %}
  </ul>
</li>
