{% load pu_in_favorites_tags %}

<ul id="favorites" class="dropdown-menu">
  {% for folder in object.favoritesfolder_set.all %}
  <li><i class="icon-folder-open"></i>{{ folder.title }}</li>
  <ul>
    {% for favorite in folder.favorite_set.all %}
    <li>
      <a href="{{ favorite.url }}"
         {% if favorite.url|is_external:request %}
         class="external"
         {% endif %}
         >
        <i class="icon-fav"></i>
        {{ favorite.title}}
      </a>
    </li>
    {% empty %}
        {% if not folder.can_delete %}
            <li>Voeg een pagina aan je favorieten toe door op de "Favoriet maken" knop te klikken.</li>
        {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
  <li>
    <a class="btn" href="{% url pu_in_favorites_favorites_admin %}">bewerken</a>
  </li>
</ul>
