{% load pu_in_favorites_tags %}

<section class="expanded favoritesfolder {% if edit_mode %}editable{% endif %}"
    id="favoritesfolder_{{ object.id }}"
         >
  <header>
    <h2 class="title">{{ object.title }}</h2>
    
    {% if edit_mode %}
    <form target="#favoritesfolder_{{ object.id }}"
          class="favoritesfolder_edit form-inline hide"
          id="favoritesfolder_{{ object.id }}_edit"
          action="{% url pu_in_favorites_edit_favoritesfolder_json object.id %}">
      <input class="input-small" name="_title" type="text" value="{{ object.title }}" /> 
      <input name="profile" type="hidden" value="{{ object.profile.id }}" /> 
      <input name="id" type="hidden" value="{{ object.id}}"/> 
      <div class="btn-group">
        <button type="submit" class="btn btn-mini"
                name="submit" value="submit"
                >
          <i class="icon-save"></i>Save
        </button>
        <button class="btn btn-mini cancel">
          <i class="icon-remove"></i>Cancel
        </button>        
      </div>
    </form>
    
    <ul class="actions">
      <li>
        <a class="edit-inline" 
           href="#favoritesfolder_{{ object.id }}_edit">
          <i class="icon-edit"></i>Hernoemen
        </a>
      </li>
      {% if object.can_delete %}
      <li>
        <a class="rm-inline"
           pu:confirm-delete="true"
           href="{% url pu_in_favorites_delete_favoritesfolder_json object.id %}"
           >
          <i class="icon-trash"></i>Verwijderen
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <a class="toggle expand" href="#">▼</a>
    <a class="toggle collapse" href="#">▲</a>
  </header>
  
  <ol class="favorites sortable">
    {% for favorite in object.favorite_set.all %}
    {% favorite favorite edit_mode %}
    {% endfor %}
  </ol>
</section>
