{% if is_favorite %}
<a class="action-inline btn btn-mini favorite-action"
   pu:action-method="POST"
   pu:action-data="label_prefix={{ label_prefix }}"
   href="{% url pu_in_favorites_delete_favorite_json favorite_id %}"
   title="Verwijder uit favorieten"><i class="icon-fav"></i>{{ label }}</a>
{% else %}
<div class="btn-group favorite-action"> 
  <a class="action-inline btn btn-mini"
     target="parent()"
     pu:action-method="POST"
     href="{% url pu_in_favorites_add_favorite_json %}"
     pu:action-data="uri={{ urn }}&_title={{ title }}&folder={{ default_folder.id }}&label_prefix={{ label_prefix }}"
     title="Toevoegen aan favorieten"><i class="icon-fav"></i>{{ label }}
  </a>
  {% if folders.count != 1 %}
  <a href="#"
     class="dropdown-toggle btn btn-mini"
     data-toggle="dropdown"
     >
    <span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu">
    {% for folder in folders %}
    <li>
      <a class="action-inline"
         pu:action-method="POST"
         target="parents('div').eq(0)"
         href="{% url pu_in_favorites_add_favorite_json %}"
         pu:action-data="uri={{ urn }}&_title={{ title }}&folder={{ folder.id }}&label_prefix={{ label_prefix }}"
         >
        in {{ folder.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  
</div>
{% endif %}
