<ul id="favorites" class="dropdown-menu">
  {% for folder in object.favoritesfolder_set.all %}
  <li><i class="icon-folder-open"></i>{{ folder.title }}</li>
  <ul>
    {% for favorite in folder.favorite_set.all %}
    <li>
      <a href="{{ favorite.url }}">
        <i class="icon-fav"></i>
        {{ favorite.title}}
      </a>
    </li>
    {% empty %}
        {% if not folder.can_delete %}
            <li>Je kunt pagina's op het intranet favoriet maken door op de volgende knop te klikken <a href="#"><i class="icon-fav"></i></a></li>
        {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
  <li>
    <a class="btn" href="{% url pu_in_favorites_favorites %}">bewerken</a>
  </li>
</ul>
