<li class="favorite {% if edit_mode %}editable{% endif %}"
    id="favorite_{{ object.id }}"
  >
  {% if edit_mode %}
  <i class="icon-fav"></i>
  <span class="title">{{ object.title }}</span>
  {% else %}
  <a href="{{ object.url }}"
     {% if external %}
     class="external"
     {% endif %}
     >{{ object.title }}</a>
  {% endif %}

  {% if edit_mode %}
  <form target="#favorite_{{ object.id }}"
        id="favorite_{{ object.id }}_edit"
        class="favorite_edit form-inline hide"
        action="{% url pu_in_favorites_edit_favorite_json object.id %}">
    <input name="_title" type="text" value="{{ object.title }}" /> 
    <input name="id" type="hidden" value="{{ object.id}}"/> 
    <input name="folder" type="hidden" value="{{ object.folder.id}}"/> 
    <input name="uri" type="hidden" value="{{ object.uri }}"/> 
    <!--div class="btn-group"-->
      <button type="submit" class="btn btn-mini submit"
              name="submit" value="submit"
              >
        <i class="icon-save"></i>Opslaan
      </button>
      <button class="btn btn-mini cancel">
        <i class="icon-remove"></i>Annuleren
      </button>        
    <!--/div-->
  </form>
    
  <ul class="actions">
    <li>
      <a class="edit-inline" 
         href="#favorite_{{ object.id }}_edit"
         >
        <i class="icon-edit"></i>Aanpassen
      </a>
    </li>
    <li>
      <a class="rm-inline"
         data-pu-confirm-delete="true"
         href="{% url pu_in_favorites_delete_favorite_json object.id %}"
         >
        <i class="icon-trash"></i>Verwijderen
      </a>
    </li>
  </ul>
  {% endif %}

</li>
