<li class="favorite {% if edit_mode %}editable{% endif %}"
    id="favorite_{{ object.id }}"
  >
  <i class="icon-fav"></i>
  <span class="title">{{ object.title }}</span>

  {% if edit_mode %}
  <form target="#favorite_{{ object.id }}"
        class="favorite_edit form-inline"
        action="{% url pu_in_favorites_edit_favorite_json object.id %}">
    <input name="_title" type="text" value="{{ object.title }}" /> 
    <input name="id" type="hidden" value="{{ object.id}}"/> 
    <input name="folder" type="hidden" value="{{ object.folder.id}}"/> 
    <input name="uri" type="hidden" value="{{ object.uri }}"/> 
    <!--div class="btn-group"-->
      <button type="submit" class="btn btn-mini"
              name="submit" value="submit"
              >
        <i class="icon-save"></i>Save
      </button>
      <button class="btn btn-mini cancel">
        <i class="icon-remove"></i>Cancel
      </button>        
    <!--/div-->
  </form>
    
  <ul class="actions">
    <li>
      <a class="json-rm"
         href="{% url pu_in_favorites_delete_favorite_json object.id %}"
         >
        <i class="icon-trash"></i>Verwijderen
      </a>
    </li>
    <li>
      <a class="json-edit" 
         href="#"
         >
        <i class="icon-edit"></i>Bewerken
      </a>
    </li>
  </ul>
  {% endif %}

</li>
